.view-port {
  height: 100vh;

  .container {
    display: flex;
    height: 100%;

    .box-left,
    .box-right {
      width: 50%;
    }

    .box-left {
      display: flex;
      flex-direction: column;
      padding: 50px;
      // align-items: center;
      // justify-content: center;

      .form-content {
        display: flex;
        align-items: flex-end;
        .form-group {
          width: 80%;
          .form-label {
            font-weight: 600;
            color: #636363;
          }
          .form-input {
            width: 100%;
            height: 40px;
            padding: 0 15px;
          }
        }
        .step-counter {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 20px;
          border-radius: 3px;
          overflow: hidden;
        }

        .has-error {
          background-color: #c035355b;
          color: #c03535;
        }
        .no-error {
          background-color: #35c04a5b;
          color: #063817;
        }
      }
    }
    .btn-save {
      width: fit-content;
      padding: 10px 30px;
      border: none;
      background-color: #0062ff;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;

      &:disabled{
        opacity: .5;
        cursor: not-allowed;
      }
    }
    .box-right {
      height: 100%;
      background-color: #f2f2f2;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .entries-lists {
        width: 100%;
        padding: 30px;
        .entries-title {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .list-row {
          width: 100%;
          border-bottom: 1px solid #d4d4d4;
          margin-bottom: 2px;
border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .list-item {
            padding: 7px 10px;
          }

          &:nth-child(even){
            background-color: #fff;
          }
        }
      }
    }
  }

  .conditions-list {
    padding-top: 40px;
    .conditions-list-item {
      margin-bottom: 5px;
      .error-msg {
        color: green;
        font-weight: 600;
      }

      .is-error {
        color: #ff0000;
      }
    }
  }
}
